@media all and (max-width:5000px) {
}
body {

  
  background: linear-gradient(450deg, #000000, #000000);
  }
  
  .p {
    padding-left: 20px;
  }
  .transparent-text {
    font-family: 'Rubik One', sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    background: #000000;
    display: table;
    margin: 20px auto;
    color: white;
    border-radius: 5px;
    mix-blend-mode: multiply;
    padding: 5px 10px;
    
  }
  .center-pic{
    text-align:center;
    }
/* Стили секций с содержанием */
.tabs>section {
      display: none;
      padding: 15px;
      background: linear-gradient(450deg, #4646ff, #e92bff);
border: 0px solid linear-gradient(450deg, #4646ff, #e92bff);
  
}
.tabs>section>p {
      margin: 0 0 5px;
      line-height: 1.5;
      color: #ffffff;
/* прикрутим анимацию */
      -webkit-animation-duration: 2s;
      animation-duration: 2s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      -webkit-animation-name: fadeIn;
      animation-name: fadeIn;
  
}
/* Описываем анимацию свойства opacity */

@-webkit-keyframes fadeIn {
      from {
              opacity: 0;
      }
      to {
              opacity: 1;
      }
}
@keyframes fadeIn {
      from {
              opacity: 0;
      }
      to {
              opacity: 1;
      }
}
/* Прячем чекбоксы */
.tabs>input {
      display: none;
      position: absolute;
}
/* Стили переключателей вкладок (табов) */
.tabs>label {
      display: inline-block;
      margin: 0 0 -1px;
      padding: 15px 25px;
      font-weight: 600;
      text-align: center;
      color: rgb(255 255 255 / 0%);
border: 0px solid #ffffff00;
border-width: 0px 0px 0px 0px;
      background: linear-gradient(360deg, #4646ff, #e92bff);
border-radius: 3px 3px 0 0;
}
/* Шрифт-иконки от Font Awesome в формате Unicode */
.tabs>label:before {
      font-family: fontawesome;
      font-weight: normal;
      margin-right: 10px;
}
.tabs>label[for*="1"]:before {
      content: "";
}
.tabs>label[for*="2"]:before {
      content: "";
}
.tabs>label[for*="3"]:before {
      content: "";
}
.tabs>label[for*="4"]:before {
      content: "";
}
/* Изменения стиля переключателей вкладок при наведении */

.tabs>label:hover {
      color: rgb(255 255 255 / 0%);
cursor: pointer;
}
/* Стили для активной вкладки */
.tabs>input:checked+label { 
      color: rgb(0 0 0);
border-top: 0px solid #000000;
border-bottom: 0px solid rgb(0 0 0);
background: linear-gradient(180deg, #4646ff, #e92bff);
 -webkit-animation-duration: 3s;
      animation-duration: 3s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      -webkit-animation-name: fadeIn;
      animation-name: fadeIn; 
}
/* Активация секций с помощью псевдокласса :checked */
#tab1:checked~#content-tab1, #tab2:checked~#content-tab2, #tab3:checked~#content-tab3, #tab4:checked~#content-tab4 {
display: block;
}
/* Убираем текст с переключателей 
* и оставляем иконки на малых экранах
*/

@media screen and (max-width: 680px) {
      .tabs>label {
              font-size: 0;
      }
      .tabs>label:before {
              margin: 0;
              font-size: 18px;
      }
}
/* Изменяем внутренние отступы 
*  переключателей для малых экранов
*/
@media screen and (max-width: 400px) {
      .tabs>label {
padding: 15px;
      }
}
h6 {
    color: darkgrey;
    text-decoration: none; /* Убираем подчёркивание */
   }
